.header-button {
    /* width: calc(100% + 10px); */
    /* height: calc(100% + 50px); */
    height: 2.5em;
    width:6em;
    background-color: rgb(227, 223, 255);
    /* color: */
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}