.header {
    width: 100%;
    height: 10%;
    background-color: rgb(211, 192, 205);
}

.inner-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.main-logo {
    width: 7vh;
    height: 7vh;
}

.profile-icon {
    width: 40px;
    height: 40px;
}

.my-account {
    width: 200px;
    display: flex;
    justify-content: space-between;
}