.header-button {
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    padding: 0.5em 1.2em 0.5em 1.2em;
    --height: 2.5em;
    border-radius: calc(var(--height)/2);
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.header-button:hover {
    background-color: rgb(179, 148, 169);
}

.header-button:active {
    background-color: rgb(230, 219, 227);
}