.post-service {
  width: 300px;
  height: 300px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.post-logo {
  width: 100px;
  height: 100px;
}

.inner-post-services {
  background-color: white;
  max-width: 100%;
}