.app {
  height: 100vh;
  text-align: center;
  background-color: rgb(227, 223, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* style for width of all child components */
.container {
  max-width: 45%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}